
nav {
    position: relative;
    padding-left: 3%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

ul {
    font-size: 25px;
    display: flex;
    list-style-type: none;
    gap: 24px;
}

a {
    color: white;
    text-decoration: none;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }

 .header {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-around;
    color: white;
 }

 .mission-statement {
    display: flex;
    flex-direction: column;
    width: 50%;
 }

 .mission-text {
    font-size: 40px;
    font-weight: bold;
 }

 .cta-text {
    font-size: 25px;
    font-weight: bold;
 }

 .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
 }

 .sign-up-btn {
    width: 40%;
 }

 .platform-name {
    font-size: 24px;
    color: gray;
    font-weight: bold;
 }


 /* CSS */
 .sign-up-btn {
   align-items: center;
   appearance: none;
   background-clip: padding-box;
   background-color: initial;
   background-image: none;
   border-style: none;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   flex-direction: row;
   flex-shrink: 0;
   font-family: Eina01,sans-serif;
   font-size: 16px;
   font-weight: 800;
   justify-content: center;
   line-height: 24px;
   margin: 0;
   min-height: 64px;
   outline: none;
   overflow: visible;
   padding: 19px 26px;
   pointer-events: auto;
   position: relative;
   text-align: center;
   text-decoration: none;
   text-transform: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: middle;
   width: auto;
   word-break: keep-all;
   z-index: 0;
 }
 
 @media (min-width: 768px) {
   .sign-up-btn {
     padding: 19px 32px;
   }
 }
 
 .sign-up-btn:before,
 .sign-up-btn:after {
   border-radius: 80px;
 }
 
 .sign-up-btn:before {
   background-color: rgba(31, 7, 2, 0.32);
   content: "";
   display: block;
   height: 100%;
   left: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -2;
 }
 
 .sign-up-btn:after {
   background-color: initial;
   background-image: linear-gradient(92.83deg, #c21812 0, #990d0d 100%);
   bottom: 4px;
   content: "";
   display: block;
   left: 4px;
   overflow: hidden;
   position: absolute;
   right: 4px;
   top: 4px;
   transition: all 100ms ease-out;
   z-index: -1;
 }
 
 .sign-up-btn:hover:not(:disabled):after {
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
   transition-timing-function: ease-in;
 }
 
 .sign-up-btn:active:not(:disabled) {
   color: #ccc;
 }
 
 .sign-up-btn:active:not(:disabled):after {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
   bottom: 4px;
   left: 4px;
   right: 4px;
   top: 4px;
 }
 
 .sign-up-btn:disabled {
   cursor: default;
   opacity: .24;
 }